
/* ================= General styles ===================== */

body {

}

hr {
  border-top: solid 1px rgb(200,200,200);
}

input[type="submit"]:hover {
  background-color: #3498db;
  color: #eee;
}

label {
  cursor: auto;
}

input[type="file"], input[type="image"], input[type="submit"], 
input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"]
{
  background-color: inherit;
  border: solid 1px #bbb;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #777;
  cursor: default;
}

select, textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input 
{
  background-color: inherit;
  border: solid 1px #bbb;
  color: #666;

}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, 
input[type="datetime"]:focus, input[type="datetime-local"]:focus, 
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, 
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, 
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, 
input[type="color"]:focus, .uneditable-input:focus 
{
  border-color: rgba(50, 50, 50, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 50,50, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 50,50, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 50,50, 0.8)
}

select {
  -webkit-appearance: none;
  line-height: 20px;
}