/* ========== Vehicle list in header ========== */

.container-moto:after {
  clear: none;
}

.nav-in-moto:after {
  clear: none;
}

.navbar .nav .vehicle {
  float: none;
}

.navbar .nav .bike-list{
  position:absolute;
  left: -9999px;
  background: transparent;
}

.nav ul a{
    white-space:nowrap; 
}

.navbar .nav li:hover ul {
  left: 0;
}

.navbar .nav li:hover a { 
    background:#0088cc;
    text-decoration:underline;
}

.navbar .nav li:hover ul a {
  text-decoration:none;
}

.navbar .nav li a:hover {
  background: black;
}

/* ========== Bootstrap overrides ========== */

.nav-header {
display: block;
padding: 3px 0px 6px;
font-size: 24px;
font-weight: bold;
line-height: 20px;
color: #333;
text-shadow: none;
text-transform: uppercase;
}

.nav-list .vehicle a {
  font-size: 18px;
  padding-left: 0px;
}

.active a {
  font-style: italic;
}

.vehicle_create_dialog {
  padding-top: 10px;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  color: #333;
  background-color: inherit;
  text-shadow: none;
}

.well, .form-actions {
  background-color: inherit;
}

.form-actions {
  padding: 19px 0 20px;
  border-top: solid 1px rgb(200,200,200);
}

.well {
  color: #777;
  padding: 0 20px 0 0;
  border: 0;
  border-right: solid 1px rgb(200,200,200);
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.nav-list > li > a {
  padding-left: 3px;
}

.dropdown-wrapper {
  position: relative;
  width: 228px;
  height: 28px;
  overflow: visible;
  background: url('/new-arrow.png') no-repeat right;
  margin: 0 0 15px
}